In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
import numpy as np
sus_goals=pd.read_csv("/content/drive/MyDrive/Data Analysis With python/Top20country_sus_goals/Top20country_unsusdev_data.csv")

In [ ]:
sus_goals.head()

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Finland,FIN,Poverty headcount ratio at national poverty li...,SI.POV.NAHC,..,..,..,..,..,..,...,13.2,11.8,12.8,12.4,11.6,11.5,12,11.6,12.2,..
1,Finland,FIN,Poverty headcount ratio at $1.90 a day (2011 P...,SI.POV.DDAY,..,0,..,..,..,0,...,0,0.1,0.1,0.1,0.1,0,0.1,0.1,0,..
2,Finland,FIN,Rural poverty headcount ratio at national pove...,SI.POV.RUHC,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,Finland,FIN,Urban poverty headcount ratio at national pove...,SI.POV.URHC,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,Finland,FIN,"Prevalence of overweight, weight for height, f...",SH.STA.OWGH.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [ ]:
# Forward fill the missing values for columns representing the years
sus_goals.iloc[:, 4:] = sus_goals.iloc[:, 4:].ffill(axis=0)

In [ ]:
# Replace '..' with NaN
sus_goals.replace('..', np.nan, inplace=True)

In [ ]:
# Forward fill the missing values for columns representing the years
sus_goals.iloc[:, 4:] = sus_goals.iloc[:, 4:].ffill(axis=0)

In [ ]:
# List of invalid country names to remove
invalid_entries = [
    'Data from database: Sustainable Development Goals (SDGs)',
    'Last Updated: 07/22/2022',
    'nan',  # to handle actual NaN values
    None
]

# Clean the 'Country Name' column by removing invalid entries
sus_goals = sus_goals[~sus_goals['Country Name'].isin(invalid_entries)]

# Drop any rows with NaN in 'Country Name' to ensure no empty country names remain
sus_goals = sus_goals.dropna(subset=['Country Name'])

In [ ]:
# List of year columns to be converted
year_columns = [
    '1990 [YR1990]', '1991 [YR1991]', '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]',
    '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
    '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
    '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]',
    '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
    '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
    '2020 [YR2020]'
]

# Convert each year column from object to float
for column in year_columns:
    sus_goals[column] = pd.to_numeric(sus_goals[column], errors='coerce')

In [ ]:
# Ensure that 'numeric_cols' contains a list of the column names
numeric_cols = sus_goals.select_dtypes(include=['float64']).columns

# Fill NaN values in numeric columns with the mean of the respective column
sus_goals[numeric_cols] = sus_goals[numeric_cols].apply(lambda col: col.fillna(col.mean()))

In [ ]:
sus_goals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1386 entries, 0 to 1385
Data columns (total 35 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   1386 non-null   object
 1   Country Code   1386 non-null   object
 2   Series Name    1386 non-null   object
 3   Series Code    1386 non-null   object
 4   1990 [YR1990]  1386 non-null   float64
 5   1991 [YR1991]  1386 non-null   float64
 6   1992 [YR1992]  1386 non-null   float64
 7   1993 [YR1993]  1386 non-null   float64
 8   1994 [YR1994]  1386 non-null   float64
 9   1995 [YR1995]  1386 non-null   float64
 10  1996 [YR1996]  1386 non-null   float64
 11  1997 [YR1997]  1386 non-null   float64
 12  1998 [YR1998]  1386 non-null   float64
 13  1999 [YR1999]  1386 non-null   float64
 14  2000 [YR2000]  1386 non-null   float64
 15  2001 [YR2001]  1386 non-null   float64
 16  2002 [YR2002]  1386 non-null   float64
 17  2003 [YR2003]  1386 non-null   float64
 18  2004 [YR2004]  1386 non-null   float64
 19  2005 [YR2005]  1386 non-null   float64
 20  2006 [YR2006]  1386 non-null   float64
 21  2007 [YR2007]  1386 non-null   float64
 22  2008 [YR2008]  1386 non-null   float64
 23  2009 [YR2009]  1386 non-null   float64
 24  2010 [YR2010]  1386 non-null   float64
 25  2011 [YR2011]  1386 non-null   float64
 26  2012 [YR2012]  1386 non-null   float64
 27  2013 [YR2013]  1386 non-null   float64
 28  2014 [YR2014]  1386 non-null   float64
 29  2015 [YR2015]  1386 non-null   float64
 30  2016 [YR2016]  1386 non-null   float64
 31  2017 [YR2017]  1386 non-null   float64
 32  2018 [YR2018]  1386 non-null   float64
 33  2019 [YR2019]  1386 non-null   float64
 34  2020 [YR2020]  1386 non-null   float64
dtypes: float64(31), object(4)
memory usage: 389.8+ KB

In [ ]:
indicators=pd.read_csv("/content/drive/MyDrive/Data Analysis With python/World Development Indicators/World_Development_indiacators_Data.csv")

In [ ]:
indicators

,Country Name,Country Code,Series Name,Series Code,1990 [YR1990],1991 [YR1991],1992 [YR1992],1993 [YR1993],1994 [YR1994],1995 [YR1995],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Finland,FIN,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,10.9422550918683,10.9963221068504,10.3690168488962,10.5521285429414,11.7774524583985,10.9817553188365,...,8.45218320494398,7.81369792414716,8.31624752993602,7.80931895529113,8.04918842721228,7.42303960115952,6.57014512772575,NaN,NaN,NaN
1,Finland,FIN,Forest area (sq. km),AG.LND.FRST.K2,218753.3,219323.61,219893.92,220464.23,221034.54,221604.85,...,223756,224090,224090,224090,224090,224090,224090,224090,NaN,NaN
2,Finland,FIN,"Annual freshwater withdrawals, agriculture (% ...",ER.H2O.FWAG.ZS,0.852151683,1.0856856522,1.3100794236,1.5258592997,1.7335119376,1.9334880124,...,14.2776858134,15.547024952,17.3913043478,17.3913043478,14.2857142857,28.5714285714,28.5714285714,NaN,NaN,NaN
3,Finland,FIN,"Electricity production from renewable sources,...",EG.ELC.RNWX.ZS,9.48195008919212,8.62277101369296,8.58033780857514,9.7627662535405,9.86271731346467,10.3380963535566,...,18.90621787529,20.0533551029928,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Finland,FIN,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,74.8131707317073,75.2275609756098,75.4553658536585,75.7051219512195,76.3956097560976,76.409512195122,...,81.1804878048781,81.4804878048781,81.4292682926829,81.6317073170732,81.7341463414634,81.9829268292683,81.9317073170732,81.8853658536585,81.1878048780488,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,NaN,NaN,NaN,NaN,108465,-158007,8198,2440,110095,-57139,...,-310694,-475094,68119,-219656,-561563,-593495,-34772,-301970,-487303,-486136
501,NaN,NaN,NaN,NaN,108465,-158007,8198,2440,110095,-57139,...,-310694,-475094,68119,-219656,-561563,-593495,-34772,-301970,-487303,-486136
502,NaN,NaN,NaN,NaN,108465,-158007,8198,2440,110095,-57139,...,-310694,-475094,68119,-219656,-561563,-593495,-34772,-301970,-487303,-486136
503,Data from database: World Development Indicators,NaN,NaN,NaN,108465,-158007,8198,2440,110095,-57139,...,-310694,-475094,68119,-219656,-561563,-593495,-34772,-301970,-487303,-486136
504,Last Updated: 09/19/2024,NaN,NaN,NaN,108465,-158007,8198,2440,110095,-57139,...,-310694,-475094,68119,-219656,-561563,-593495,-34772,-301970,-487303,-486136

In [ ]:
# Forward fill the missing values for columns representing the years
indicators.iloc[:, 4:] = indicators.iloc[:, 4:].ffill(axis=0)

In [ ]:
# Replace '..' with NaN
indicators.replace('..', np.nan, inplace=True)

In [ ]:
# Forward fill the missing values for columns representing the years
indicators.iloc[:, 4:] = indicators.iloc[:, 4:].ffill(axis=0)

In [ ]:
unique=indicators['Country Name'].unique()
unique

array(['Finland', 'Sweden', 'Denmark', 'Norway', 'Austria', 'Switzerland',
       'Germany', 'Netherlands', 'France', 'Iceland', 'Ireland',
       'Belgium', 'Slovenia', 'Portugal', 'Estonia', 'New Zealand',
       'Spain', 'Luxembourg', 'Japan', 'India', nan,
       'Data from database: World Development Indicators',
       'Last Updated: 09/19/2024'], dtype=object)

In [ ]:
# List of invalid country names to remove
invalid_entries = [
    'Data from database: World Development Indicators',
    'Last Updated: 09/19/2024',
    'nan',  # to handle actual NaN values
    None
]

# Clean the 'Country Name' column by removing invalid entries
indicators = indicators[~indicators['Country Name'].isin(invalid_entries)]

# Drop any rows with NaN in 'Country Name' to ensure no empty country names remain
indicators = indicators.dropna(subset=['Country Name'])

In [ ]:
# List of year columns to be converted
year_columns = [
    '1990 [YR1990]', '1991 [YR1991]', '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]',
    '1995 [YR1995]', '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
    '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]', '2004 [YR2004]',
    '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]', '2008 [YR2008]', '2009 [YR2009]',
    '2010 [YR2010]', '2011 [YR2011]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]',
    '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]',
    '2020 [YR2020]','2021 [YR2021]','2022 [YR2022]','2023 [YR2023]'
]

# Convert each year column from object to float
for column in year_columns:
    indicators[column] = pd.to_numeric(indicators[column], errors='coerce')

In [ ]:
# Ensure that 'numeric_cols' contains a list of the column names
numeric_cols = indicators.select_dtypes(include=['float64']).columns

# Fill NaN values in numeric columns with the mean of the respective column
indicators[numeric_cols] = indicators[numeric_cols].apply(lambda col: col.fillna(col.mean()))

In [ ]:
indicators.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 38 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   500 non-null    object
 1   Country Code   500 non-null    object
 2   Series Name    500 non-null    object
 3   Series Code    500 non-null    object
 4   1990 [YR1990]  500 non-null    float64
 5   1991 [YR1991]  500 non-null    float64
 6   1992 [YR1992]  500 non-null    float64
 7   1993 [YR1993]  500 non-null    float64
 8   1994 [YR1994]  500 non-null    float64
 9   1995 [YR1995]  500 non-null    float64
 10  1996 [YR1996]  500 non-null    float64
 11  1997 [YR1997]  500 non-null    float64
 12  1998 [YR1998]  500 non-null    float64
 13  1999 [YR1999]  500 non-null    float64
 14  2000 [YR2000]  500 non-null    float64
 15  2001 [YR2001]  500 non-null    float64
 16  2002 [YR2002]  500 non-null    float64
 17  2003 [YR2003]  500 non-null    float64
 18  2004 [YR2004]  500 non-null    float64
 19  2005 [YR2005]  500 non-null    float64
 20  2006 [YR2006]  500 non-null    float64
 21  2007 [YR2007]  500 non-null    float64
 22  2008 [YR2008]  500 non-null    float64
 23  2009 [YR2009]  500 non-null    float64
 24  2010 [YR2010]  500 non-null    float64
 25  2011 [YR2011]  500 non-null    float64
 26  2012 [YR2012]  500 non-null    float64
 27  2013 [YR2013]  500 non-null    float64
 28  2014 [YR2014]  500 non-null    float64
 29  2015 [YR2015]  500 non-null    float64
 30  2016 [YR2016]  500 non-null    float64
 31  2017 [YR2017]  500 non-null    float64
 32  2018 [YR2018]  500 non-null    float64
 33  2019 [YR2019]  500 non-null    float64
 34  2020 [YR2020]  500 non-null    float64
 35  2021 [YR2021]  500 non-null    float64
 36  2022 [YR2022]  500 non-null    float64
 37  2023 [YR2023]  500 non-null    float64
dtypes: float64(34), object(4)
memory usage: 152.3+ KB

In [ ]:
# Save the DataFrames as CSV files
sus_goals.to_csv('sus_goals.csv', index=False)
indicators.to_csv('indicators.csv', index=False)

In [ ]:
from google.colab import files

# Download the sus_goals.csv file
files.download('sus_goals.csv')

# Download the indicators.csv file
files.download('indicators.csv')